In [144]:
import pandas as pd
import numpy as np
import re

In [132]:
columns_to_add = [
    "course1",
    "course2",
    "course3",
    "course4",
    "course5",
    "course6",
    "course7",
    "course8",
    "course9",
    "course10",
    "course11",
    "course12",
    "course13",
    "group1",
    "group2",
    "group3",
    "group4",
    "group5",
    "group6",
    "group7",
    "group8",
    "group9",
    "group10",
    "group11",
    "group12",
    "group13",
    "role1",
    "role2",
    "role3",
    "role4",
    "role5",
    "role6",
    "role7",
    "role8",
    "role9",
    "role10",
    "role11",
    "role12",
    "role13",
]

text2num = {
    "1º": "primero",
    "2º": "segundo",
    "3º": "tercero",
    "4º": "cuarto",
    "5º": "quinto",
    "6º": "sexto",
}

cursos_inf = [
    "proyecto6",
    "proyecto4",
    "proyecto3",
    "proyecto2",
    "proyecto1",
    "english",
    "proyecto5",
]

cursos_prim = [
    "lengua",
    "sociales",
    "matematicas",
    "ingles",
    "edfisica",
    "artistica",
    "ciencias",
]

def generate_df_maestros(df):
    def split(word):
        return [char for char in word]

    global text2num
    global cursos_inf
    global cursos_prim

    df1 = pd.DataFrame()
    df1["username"] = df["Nº Documento"].str.lower()
    df1["firstname"] = df["Nombre"]
    df1["lastname"] = df["Apellidos"]
    df1["email"] = "alumnado@education.catedu.es"
    df1["password"] = "changeme"
    try:
        mask = df.grupo.str.contains('\d\w\w', case=False, na=False, regex=True)
        df1["grupo"] = df.loc[mask, df["grupo"].apply(lambda x: split(x)).str.join(" ")]
        
    except:
        global columns_to_add
        df2 = pd.DataFrame(columns=columns_to_add)
        df1 = pd.concat([df1, df2])

    return df1

In [133]:
df = pd.read_csv('/Users/Jesus/Downloads/maestrsubir.xls', encoding='ISO-8859-1')

In [136]:
fila_test = {'Nombre': 'María Ángeles',
 'Apellidos': 'Arenedo López',
 'Sexo': 'Mujer',
 'Documento': 'DNI',
 'Nº Documento': '25146470V',
 'Localidad': 'Zaragoza',
 'Provincia': 'Zaragoza',
 'Nº Registro': 2514847044356345,
 'Especialidad': np.nan,
 'Destinos Activos': 2,
 'grupo': '',
            }

In [137]:
df = df.append(fila_test, ignore_index=True)

In [138]:
df1 = generate_df_maestros(df)

In [139]:
df1

,username,firstname,lastname,email,password,course1,course2,course3,course4,course5,...,role4,role5,role6,role7,role8,role9,role10,role11,role12,role13
0,25146470v,María Ángeles,Arenedo López,alumnado@education.catedu.es,changeme,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25146470v,María Ángeles,Arenedo López,alumnado@education.catedu.es,changeme,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25146470v,María Ángeles,Arenedo López,alumnado@education.catedu.es,changeme,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
type(df1['course1'][0])

float

In [87]:
df1['course1'][0]

nan

In [95]:
df["grupo"].notna()

0     True
1    False
Name: grupo, dtype: bool

In [140]:
def split(word):
    return [char for char in word]

In [119]:
mask = df.grupo.str.contains('\d\w\w', case=False, na=False, regex=True)

In [120]:
mask

0     True
1    False
2    False
3     True
Name: grupo, dtype: bool

In [129]:
df['grupo'] = df['grupo'].astype(str)
df.loc[mask, df["grupo"].apply(lambda x: split(x)).str.join(" ")]

KeyError: "None of [Index(['1 i a', 'n a n', 'n a n', '2 p b'], dtype='object')] are in the [columns]"

In [126]:
for row in df['grupo']:
    print(type(row))

<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>

In [128]:
df['grupo'].astype(str)

0    1ia
1    nan
2    nan
3    2pb
Name: grupo, dtype: object

In [130]:
df['grupo']

0    1ia
1    nan
2    nan
3    2pb
Name: grupo, dtype: object

In [154]:
df['grupo'] = df['grupo'].apply(lambda x: split(x) if isinstance(x, str) and bool(re.match('\d(i|p)\w', x)) else np.nan)

In [155]:
df

,Nombre,Apellidos,Sexo,Documento,Nº Documento,Localidad,Provincia,Nº Registro,Especialidad,Destinos Activos,grupo
0,María Ángeles,Arenedo López,Mujer,DNI,25146470V,Zaragoza,Zaragoza,2514847044356345,NaN,2,"[1, i, a]"
1,María Ángeles,Arenedo López,Mujer,DNI,25146470V,Zaragoza,Zaragoza,2514847044356345,NaN,2,"[2, p, b]"
2,María Ángeles,Arenedo López,Mujer,DNI,25146470V,Zaragoza,Zaragoza,2514847044356345,NaN,2,NaN

In [157]:
df['grupo'].str.split(expand=True)

    0
0 NaN
1 NaN
2 NaN

In [165]:
df[["curso", "etapa", "test"]] = df['grupo'].apply(pd.Series)

In [166]:
df[["curso", "etapa", "test"]]

  curso etapa test
0     1     i    a
1     2     p    b
2   NaN   NaN  NaN

In [164]:
df['grupo'].apply(pd.Series)

     0    1    2
0    1    i    a
1    2    p    b
2  NaN  NaN  NaN